astroid==2.15.5
async-timeout==4.0.2
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
coverage==7.2.7
dill==0.3.6
dnspython==2.3.0
fire==0.5.0
greenlet==2.0.2
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.25.0
pandas==2.0.2
platformdirs==3.8.0
psycopg2-binary==2.9.6
pylint==2.17.4
pymongo==4.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
redis==4.5.5
requests==2.31.0
requests-mock==1.11.0
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.17
termcolor==2.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
wrapt==1.15.0
